<main class="container text-center">
  <div class="h-100 row align-items-center">
    <div class="col">
      <h2>Welcome to Todrr!</h2>
      <hr class="col-xs-12 w-100">
      <p>
        Toddr is a web application helping you manage your daily tasks. App is currently at alpha stage of development
        therefore there is a lot of features missing or broken. You can track progress at this
        <a href="https://github.com/szotaa/todrr">Github repository</a>. Code reviews and contributions are welcome and
        much appreciated.
      </p>
    </div>
  </div>
</main>
