<div class="justify-content-center">
  <h2 class="text-center">Upcoming tasks</h2>
  <hr class="col-xs-12">
  <table class="table table-striped" *ngIf="tasks.length != 0">
    <thead class="thead-light">
      <tr>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Description</th>
        <th class="text-center" scope="col">Done</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td class="text-center">{{ task.name }}</td>
        <td class="text-center">{{ task.description }}</td>
        <td>
          <button id="deleteButton" (click) = "delete(task.id);" type="button" class="btn-primary btn-success h-100 w-100"><i class="fa fa-check"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="tasks.length == 0" class="alert alert-success h-100 w-100">
    No upcoming tasks!
  </div>
</div>
