<nav class="navbar navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Todrr</a>
      <div *ngIf="authService.isAuthenticated()" id="authenticatedUser">
        <a href="/logout" class="nav-link navbar-right text-white-50">Logout</a>
        <a href="/myaccount" class="nav-link navbar-right text-white-50">My Account</a>
      </div>
      <div *ngIf="!authService.isAuthenticated()" id="unauthenticatedUser">
        <a href="/login" class="nav-link navbar-right text-white-50">Login</a>
        <a href="/register" class="nav-link navbar-right text-white-50">Register</a>
      </div>
  </div>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
      <a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a>
    </li>
  </ol>
</nav>
