<div class="container">
  <div class="justify-content-center">
    <h2 class="text-center">Modify task</h2>
    <hr class="col-xs-12">
    <form #taskForm = "ngForm" (ngSubmit) = "update(taskForm.value)">
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control"
               required
               ngModel name="name"
               value="{{ task.name }}"/>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" type="text" class="form-control"
                  required
                  ngModel name="description" value="{{ task.description }}"></textarea>
      </div>
      <div class="form-group">
        <label for="created">Created at:</label>
        <input id="created" type="text" class="form-control" disabled
               value="{{ task.creationTimestamp }}"/>
      </div>
        <button type="submit" class="btn-primary w-50">Update</button>
        <button type="button" (click)="delete(task.id)" class="btn-primary btn-success w-50">Mark as done <i class="fa fa-check"></i></button>
    </form>
  </div>
</div>
